
/Pictora/bin
/Pictora/obj
/Pictora/.vs
*.cache
*.targets
*.editorconfig
*.outputs
Pictora/.env
/Pictora/obj
Pictora/obj/project.nuget.cache
Pictora/obj/project.assets.json
Pictora/obj/Pictora.csproj.nuget.g.targets
Pictora/obj/Pictora.csproj.nuget.g.props
Pictora/obj/Pictora.csproj.nuget.dgspec.json
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.i.cs
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Pictora.assets.cache
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Pictora.AssemblyInfoInputs.cache
Pictora/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Pictora.AssemblyInfo.cs
Pictora/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Pictora.assets.cache
Pictora/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Pictora.AssemblyInfoInputs.cache
Pictora/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Pictora.AssemblyInfo.cs
Pictora/obj/Debug/net8.0-ios/iossimulator-x64/Pictora.assets.cache
Pictora/obj/Debug/net8.0-ios/iossimulator-x64/Pictora.AssemblyInfoInputs.cache
Pictora/obj/Debug/net8.0-ios/iossimulator-x64/Pictora.AssemblyInfo.cs
Pictora/obj/Debug/net8.0-android/Pictora.assets.cache
Pictora/obj/Debug/net8.0-android/Pictora.AssemblyInfoInputs.cache
Pictora/obj/Debug/net8.0-android/Pictora.AssemblyInfo.cs
Pictora/obj/Debug/net8.0-android/lp/157/jl/res.zip
Pictora/obj/Debug/net8.0-android/lp/157.stamp
Pictora/obj/Debug/net8.0-android/lp/156/jl/res/values/styles.xml
Pictora/obj/Debug/net8.0-android/lp/156/jl/res/values/attr.xml
Pictora/obj/Debug/net8.0-android/lp/156/jl/res.zip
Pictora/obj/Debug/net8.0-android/lp/156.stamp
Pictora/obj/Debug/net8.0-android/lp/155/jl/res/values/values.xml
Pictora/obj/Debug/net8.0-android/lp/155/jl/res.zip
Pictora/obj/Debug/net8.0-android/lp/155/jl/R.txt
Pictora/obj/Debug/net8.0-android/lp/155/jl/META-INF/com/android/build/gradle/aar-metadata.properties
Pictora/obj/Debug/net8.0-android/lp/155/jl/classes.jar
Pictora/obj/Debug/net8.0-android/lp/155/jl/AndroidManifest.xml
Pictora/obj/Debug/net8.0-android/lp/155.stamp
Pictora/obj/Debug/net8.0-android/lp/154/jl/res.zip
Pictora/obj/Debug/net8.0-android/lp/154.stamp
Pictora/obj/Debug/net8.0-android/lp/153/jl/res/values/styles.xml
Pictora/obj/Debug/net8.0-android/lp/153/jl/res/values/attrs.xml
Pictora/obj/Debug/net8.0-android/lp/153/jl/res.zip
Pictora/obj/Debug/net8.0-android/lp/153.stamp
Pictora/obj/Debug/net8.0-android/designtime/build.props
Pictora/obj/Debug/net8.0-android/__Microsoft.Android.Resource.Designer.cs
